
.container.grid-xl {
    max-width: 1296px
}

.container.grid-lg {
    max-width: 976px
}

.container.grid-md {
    max-width: 856px
}

.container.grid-sm {
    max-width: 616px
}

.container.grid-xs {
    max-width: 496px
}

.show-lg,.show-md,.show-sm,.show-xl,.show-xs {
    display: none!important
}

.columns {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -.4rem;
    margin-right: -.4rem
}

.columns.col-gapless {
    margin-left: 0;
    margin-right: 0
}

.columns.col-gapless>.column {
    padding-left: 0;
    padding-right: 0
}

.columns.col-oneline {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto
}

.column {
    -ms-flex: 1;
    flex: 1;
    max-width: 100%;
    padding-left: .4rem;
    padding-right: .4rem
}

.column.col-1,.column.col-10,.column.col-11,.column.col-12,.column.col-2,.column.col-3,.column.col-4,.column.col-5,.column.col-6,.column.col-7,.column.col-8,.column.col-9,.column.col-auto {
    -ms-flex: none;
    flex: none
}

.col-12 {
    width: 100%
}

.col-11 {
    width: 91.66666667%
}

.col-10 {
    width: 83.33333333%
}

.col-9 {
    width: 75%
}

.col-8 {
    width: 66.66666667%
}

.col-7 {
    width: 58.33333333%
}

.col-6 {
    width: 50%
}

.col-5 {
    width: 41.66666667%
}

.col-4 {
    width: 33.33333333%
}

.col-3 {
    width: 25%
}

.col-2 {
    width: 16.66666667%
}

.col-1 {
    width: 8.33333333%
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: none;
    width: auto
}

.col-mx-auto {
    margin-left: auto;
    margin-right: auto
}

.col-ml-auto {
    margin-left: auto
}

.col-mr-auto {
    margin-right: auto
}

@media (max-width: 1280px) {
    .col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto {
        -ms-flex:none;
        flex: none
    }

    .col-xl-12 {
        width: 100%
    }

    .col-xl-11 {
        width: 91.66666667%
    }

    .col-xl-10 {
        width: 83.33333333%
    }

    .col-xl-9 {
        width: 75%
    }

    .col-xl-8 {
        width: 66.66666667%
    }

    .col-xl-7 {
        width: 58.33333333%
    }

    .col-xl-6 {
        width: 50%
    }

    .col-xl-5 {
        width: 41.66666667%
    }

    .col-xl-4 {
        width: 33.33333333%
    }

    .col-xl-3 {
        width: 25%
    }

    .col-xl-2 {
        width: 16.66666667%
    }

    .col-xl-1 {
        width: 8.33333333%
    }

    .col-xl-auto {
        width: auto
    }

    .hide-xl {
        display: none!important
    }

    .show-xl {
        display: block!important
    }
}

@media (max-width: 960px) {
    .col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto {
        -ms-flex:none;
        flex: none
    }

    .col-lg-12 {
        width: 100%
    }

    .col-lg-11 {
        width: 91.66666667%
    }

    .col-lg-10 {
        width: 83.33333333%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-8 {
        width: 66.66666667%
    }

    .col-lg-7 {
        width: 58.33333333%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-5 {
        width: 41.66666667%
    }

    .col-lg-4 {
        width: 33.33333333%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-2 {
        width: 16.66666667%
    }

    .col-lg-1 {
        width: 8.33333333%
    }

    .col-lg-auto {
        width: auto
    }

    .hide-lg {
        display: none!important
    }

    .show-lg {
        display: block!important
    }
}

@media (max-width: 840px) {
    .col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto {
        -ms-flex:none;
        flex: none
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.66666667%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666667%
    }

    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-1 {
        width: 8.33333333%
    }

    .col-md-auto {
        width: auto
    }

    .hide-md {
        display: none!important
    }

    .show-md {
        display: block!important
    }
}

@media (max-width: 600px) {
    .col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto {
        -ms-flex:none;
        flex: none
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.66666667%
    }

    .col-sm-10 {
        width: 83.33333333%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.66666667%
    }

    .col-sm-7 {
        width: 58.33333333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-5 {
        width: 41.66666667%
    }

    .col-sm-4 {
        width: 33.33333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.66666667%
    }

    .col-sm-1 {
        width: 8.33333333%
    }

    .col-sm-auto {
        width: auto
    }

    .hide-sm {
        display: none!important
    }

    .show-sm {
        display: block!important
    }
}

@media (max-width: 480px) {
    .col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-auto {
        -ms-flex:none;
        flex: none
    }

    .col-xs-12 {
        width: 100%
    }

    .col-xs-11 {
        width: 91.66666667%
    }

    .col-xs-10 {
        width: 83.33333333%
    }

    .col-xs-9 {
        width: 75%
    }

    .col-xs-8 {
        width: 66.66666667%
    }

    .col-xs-7 {
        width: 58.33333333%
    }

    .col-xs-6 {
        width: 50%
    }

    .col-xs-5 {
        width: 41.66666667%
    }

    .col-xs-4 {
        width: 33.33333333%
    }

    .col-xs-3 {
        width: 25%
    }

    .col-xs-2 {
        width: 16.66666667%
    }

    .col-xs-1 {
        width: 8.33333333%
    }

    .col-xs-auto {
        width: auto
    }

    .hide-xs {
        display: none!important
    }

    .show-xs {
        display: block!important
    }
}


.links {
  list-style: none;
  margin: 0;
}

.links li {
  padding: 0 0.2rem;
}

.links-card {
  box-shadow: 0 1px 20px -6px rgba(0, 0, 0, 0.4);
    width: 50vh;
    float: left;
}

.links-header {
  position: relative;
  overflow: hidden;
  display: block;
}

.links-header:hover .links-image {
  -webkit-filter: none;
          filter: none;
}

.links-header:hover .links-image:after {
  background: transparent;
}

.links-header:hover .links-name {
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
}

.links-header:hover .links-avatar {
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
}

.links-name {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  font-size: 0.9rem;
  background: rgba(255, 255, 255, 0.8);
  padding: 0.3rem 1rem;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  color: #da84ab !important;
}

.links-image {
  height: 8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  transition: all 0.5s;
}

.links-image:after {
  content: "";
  height: 8rem;
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background 0.5s;
}

.links-avatar {
  position: absolute;
  right: 1rem;
  top: 1rem;
  box-shadow: 0 0 9px #666;
  background: #fff;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.links-content {
  padding: 0.7rem 1rem;
}

.links-author {
  color: #7d7d7d;
}

.links-notes {
  line-height: 1.2rem;
  height: 2.4rem;
  overflow: hidden;
  word-wrap: break-word;
}

.text-gray {
    color: #ddecf7!important;
    text-shadow: 1px 1px 11px;
}

a.text-gray:focus,a.text-gray:hover {
    color: #adb6c4
}

a.text-gray:visited {
    color: #cbd0d9
}

.text-light {
    color: #fff!important
}

a.text-light:focus,a.text-light:hover {
    color: #f2f2f2
}

a.text-light:visited {
    color: #fff
}

.text-dark {
    color: #3b4351!important
}

a.text-dark:focus,a.text-dark:hover {
    color: #303742
}

a.text-dark:visited {
    color: #455060
}

.text-success {
    color: #32b643!important
}

a.text-success:focus,a.text-success:hover {
    color: #2da23c
}

a.text-success:visited {
    color: #39c94b
}

.text-warning {
    color: #ffb700!important
}

a.text-warning:focus,a.text-warning:hover {
    color: #e6a500
}

a.text-warning:visited {
    color: #ffbe1a
}

.text-error {
    color: #e85600!important
}

a.text-error:focus,a.text-error:hover {
    color: #cf4d00
}

a.text-error:visited {
    color: #ff6003
}

.bg-primary {
    background: #5755d9!important;
    color: #fff
}

.bg-secondary {
    background: #f1f1fc!important
}

.bg-dark {
    background: #303742!important;
    color: #fff
}

.bg-gray {
    background: #f7f8f9!important
}

.bg-success {
    background: #32b643!important;
    color: #fff
}

.bg-warning {
    background: #ffb700!important;
    color: #fff
}

.bg-error {
    background: #e85600!important;
    color: #fff
}

.c-hand {
    cursor: pointer
}

.c-move {
    cursor: move
}

.c-zoom-in {
    cursor: zoom-in
}

.c-zoom-out {
    cursor: zoom-out
}

.c-not-allowed {
    cursor: not-allowed
}

.c-auto {
    cursor: auto
}

.d-block {
    display: block
}

.d-inline {
    display: inline
}

.d-inline-block {
    display: inline-block
}

.d-flex {
    display: flex;
    display: -ms-flexbox
}

.d-inline-flex {
    display: inline-flex;
    display: -ms-inline-flexbox
}

.d-hide,.d-none {
    display: none!important
}

.d-visible {
    visibility: visible
}

.d-invisible {
    visibility: hidden
}

.text-hide {
    background: 0 0;
    border: 0;
    color: transparent;
    font-size: 0;
    line-height: 0;
    text-shadow: none
}

.text-assistive {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

#friend{
    background-color: transparent !important;
    -webkit-text-decoration-skip: objects !important;
}

#friend:active,#friend:hover {
    outline-width: 0 !important;
}
